.archive-post {
	position: relative;

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-top: 30px;
	}

	&__sidebar {
		position: relative;
		flex: 0 0 calc(25% - 15px);
	}

	&__show {
		position: relative;
		flex: 0 0 calc(75% - 15px);

		h1.title {
			font-weight: 700;
			font-size: 28px;
			line-height: 130%;
			color: #0E1618;
			text-transform: uppercase;
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 14px;

			&::before {
				content: '';
				display: block;
				width: 6px;
				//height: 40px;
				background: #61795D;
				margin-right: 10px;
			}
		}

		p.description {
			font-weight: 400;
			font-size: 14px;
			line-height: 22px;
			color: #161616;
			margin: 0 0 16px;
		}
	}

	&__item {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 40px;

		.entry-content {
			position: relative;
			flex: 0 0 calc(70% - 15px);

			h2 {
				font-weight: 700;
				font-size: 18px;
				color: #00141E;
				line-height: 130%;
				margin: 0 0 8px;

				a {
					color: #00141E;
					text-decoration: none;

					&:hover {
						color: #61795D;
					}
				}
			}
		}

		.entry-excerpt {
			font-weight: 400;
			font-size: 16px;
			line-height: 130%;
			color: #555E61;
			@include set-line(3);
		}

		.entry-thumbnail {
			flex: 0 0 calc(30% - 15px);
			overflow: hidden;
			@include set_thumbnail(60%);
		}

		.entry-date {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px;

			ul {
				margin: 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
			}

			li {
				list-style: none;
				padding: 5px 10px;
				background: #DBE6E2;
				border-radius: 4px;
				font-weight: 500;
				font-size: 12px;
				text-transform: uppercase;
				color: #1C4A3E;
			}
		}
	}
}