.page-cart {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	.woocommerce-cart-form {
		position: relative;
		flex: 0 0 65%;

		input {
			border: 1px solid #ccc
		}

		button.button {
			background: linear-gradient(180deg, #FB5825 0%, #BA3915 100%);
			border-radius: 8px;
			padding: 8px 20px;
			font-weight: 700;
			font-size: 16px;
			line-height: 130%;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 15px 0;
		}
	}

	.cart-collaterals {
		position: relative;
		flex: 0 0 calc(35% - 15px);
		border: 1px solid #ccc;
		padding: 15px;

		h2 {
			font-weight: 700;
			font-size: 24px;
			line-height: 130%;
			margin: 0;
		}
	}
}

.wc-proceed-to-checkout {
	a {
		background: linear-gradient(180deg, #FB5825 0%, #BA3915 100%);
		border-radius: 8px;
		padding: 14px 32px;
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		text-transform: uppercase;
		color: #FFFFFF;
	}
}

.woocommerce-checkout {
	position: relative;

	&.checkout {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	#customer_details {
		position: relative;
		flex: 0 0 calc(50% - 15px);
		border: 1px solid #ccc;
		padding: 15px;

		.woocommerce-billing-fields h3 {
			font-weight: 700;
			font-size: 24px;
			line-height: 130%;
			text-transform: uppercase;
			color: #161616;
			margin: 0 0 15px;
		}

		.woocommerce-input-wrapper {
			width: 100%;
		}

		.select2-container {
			width: 100% !important;

			min-width: auto !important;

			.selection {
				background: transparent;
				border: 0;
			}
		}

		input,
		select,
		.select2-container {
			border: 1px solid #ccc;
			background: #DBE6E2;
			padding: 16px 24px;
			border-radius: 8px;
			width: 100%;
		}
	}

	.checkout-page {
		position: relative;
		flex: 0 0 calc(50% - 15px);
		border: 1px solid #ccc;
		padding: 15px;

		h3 {
			font-weight: 700;
			font-size: 24px;
			line-height: 130%;
			text-transform: uppercase;
			color: #161616;
			margin: 0 0 15px;
		}
	}
}

.select2-container--default .select2-selection--single {
	background-color: transparent !important;
	border: 0 !important;
}

.place-order {
	.button {
		background: linear-gradient(180deg, #FB5825 0%, #BA3915 100%);
		border-radius: 8px;
		padding: 8px 20px;
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 15px 0;
	}
}

.payment_methods {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;

		.payment_box {
			display: none !important;
		}
	}
}

@media only screen and (max-width: 767px) {
	.page-cart {
		.woocommerce-cart-form {
			flex: 0 0 100%;
		}

		.cart-collaterals {
			flex: 0 0 100%;
		}
	}
}