.contact {
	position: relative;

	&__thumbnail {
		position: relative;
		border-radius: 8px;
		height: 300px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-top: 24px;

		h1 {
			font-weight: 600;
			font-size: 48px;
			line-height: 130%;
			color: #FFFFFF;
			text-transform: uppercase;
			z-index: 2;
		}

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.38);
		}

	}

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		margin-top: 60px;
	}

	&__form {
		position: relative;
		flex: 0 0 calc(50% - 12px);
		border: 1px solid #E2E2E2;
		border-radius: 4px;
		padding: 24px 16px;

		img {
			margin: 0 auto;
			display: table;
		}

		p {
			margin: 0;
		}

		h2 {
			font-weight: 600;
			font-size: 24px;
			line-height: 130%;
			text-align: center;
			text-transform: uppercase;
			color: #161616;
			margin: 16px 0;
		}

		input,
		textarea {
			width: 100%;
			background: #DBE6E2;
			border: 1px solid #DBE6E2;
			border-radius: 8px;
			padding: 16px 24px;
			margin-top: 8px;
		}

		textarea {
			height: 70px;
		}

		label {
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #161616;
			margin-bottom: 8px;
		}

		input.wpcf7-submit {
			background: linear-gradient(353.06deg, #AC9A3B -38.45%, #61795D 84.56%);
			border-radius: 8px;
			padding: 14px 32px;
			font-weight: 600;
			font-size: 16px;
			line-height: 130%;
			text-transform: uppercase;
			color: #FFFFFF;
			width: auto;
		}
	}

	&__content {
		position: relative;
		flex: 0 0 calc(50% - 12px);
		border: 1px solid #E2E2E2;
		border-radius: 4px;
		padding: 24px 16px;

		h2 {
			font-weight: 600;
			font-size: 24px;
			line-height: 130%;
			text-transform: uppercase;
			color: #161616;
			margin: 0 0 16px;
			text-align: center;
		}

		p {
			font-weight: 500;
			font-size: 16px;
			color: #161616;
			text-align: center;

			strong {
				color: #DAB029;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0;
			gap: 10px;

			li {
				list-style: none;
			}
		}
	}
}

.register-page {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 100px 0;

	&__wrap {
		position: relative;
		padding: 24px 30px 60px;
		background: #FFFFFF;
		border: 1px solid #E2E2E2;
		box-shadow: 0px 4px 10px #E2E2E2;
		border-radius: 16px;
		max-width: 588px;
		margin: auto;

		img {
			margin: auto;
			display: table;
		}

		h1 {
			font-weight: 600;
			font-size: 32px;
			line-height: 130%;
			text-align: center;
			text-transform: uppercase;
			color: #161616;
			margin: 24px 0;
		}
	}

	#login-form,
	#register-form {
		h2 {
			display: none;
		}

		label {
			color: #161616;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
		}

		input {
			background: #DBE6E2;
			border: 1px solid #DBE6E2;
			border-radius: 8px;
			padding: 16px 24px;
		}

		button#submit {
			background: linear-gradient(353.06deg, #AC9A3B -38.45%, #61795D 84.56%);
			border-radius: 8px;
			padding: 14px 75px;
			margin: auto;
			font-weight: 600;
			font-size: 16px;
			line-height: 130%;
			text-transform: uppercase;
			color: #FFFFFF;
			display: table;
		}
	}
}

@media only screen and (max-width: 767px) {
	.contact {

		&__form,
		&__content {
			flex: 0 0 100%;
		}
	}
}