.site-footer {
	position: relative;
	padding: 50px 0 0;
	overflow: hidden;
	background: #1C4A3E;
	background-image: url('images/bg_footer-min.png');

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #fff;
		padding-bottom: 30px;
	}

	.footer_about {
		position: relative;
		flex: 0 0 40%;
		padding-right: 77px;
		color: #fff;
		font-weight: 500;
		font-size: 16px;

		ul {
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 20px;

			li {
				list-style: none;
			}
		}
	}

	.footer_menu {
		position: relative;
		flex: 0 0 20%;

		h3 {
			font-weight: 600;
			font-size: 20px;
			color: #FFFFFF;
			text-transform: uppercase;
		}

		ul {
			padding: 0;
			margin: 0;

			li {
				list-style: none;
				font-weight: 400;
				font-size: 14px;
				color: #FFFFFF;
				text-transform: capitalize;
				line-height: 256%;
				display: flex;
				align-items: center;

				img {
					margin-right: 10px;
				}
			}

			a {
				display: flex;
				align-items: center;
			}
		}

		&:last-child {
			ul li {
				line-height: 24px;
				margin-bottom: 10px;
			}
		}
	}

	&__inner {
		p {
			font-weight: 500;
			font-size: 16px;
			line-height: 160%;
			text-align: center;
			color: #fff;
		}
	}
}

@media only screen and (max-width: 991px) {
	.site-footer {
		.footer_about {
			flex: 0 0 50%;
			padding-right: 20px;
		}

		.footer_menu {
			flex: 0 0 50%
		}
	}
}

@media only screen and (max-width: 767px) {
	.site-footer {
		.footer_about {
			flex: 0 0 100%;
			padding-right: 0px;
		}

		.footer_menu {
			flex: 0 0 100%
		}
	}
}