.products-woo {
	position: relative;

	&__wrap {
		position: relative;
		margin-top: 24px;
		display: flex;
		flex-wrap: wrap;
	}

	&__sidebar {
		position: relative;
		flex: 0 0 20%;
		border: 1px solid #E9E9E9;
		border-radius: 8px;
		padding: 8px 8px 16px;

		h3.widget-title {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			color: #161616;
			text-transform: uppercase;
			margin: 0 0 15px;
		}

		ul.menu {
			padding: 0;
			margin: 0;

			li {
				list-style: none;
			}

			a {
				padding: 5px 10px;
				border-radius: 8px;
				background: #DBE6E2;
				font-weight: 500;
				font-size: 16px;
				line-height: 22px;
				color: #1C4A3E;
				text-decoration: none;
				width: 100%;
				display: block;
			}
		}

		ul.sub-menu {
			padding-left: 10px;

			li a {
				background: transparent;
			}
		}
	}

	&__lists {
		position: relative;
		flex: 0 0 80%;
		padding: 0 15px;
	}

	&__shows {
		position: relative;
		padding-bottom: 50px;

		&.grid-view {
			display: grid;
			gap: 24px;
			grid-template-columns: repeat(4, 1fr);
		}

		&.list-view {
			.products-item {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 26px;

				a.add_cart {
					bottom: 0;
					right: 0;
					left: auto;
					border-top-left-radius: 27px;
				}
			}

			.entry-content {
				width: calc(100% - 150px);

				h4 {
					font-weight: 500;
					font-size: 18px;
				}
			}

			.entry-thumbnail {
				width: 150px
			}
		}
	}

	&__title {
		position: relative;

		h1.title {
			font-weight: 700;
			font-size: 28px;
			line-height: 130%;
			text-transform: uppercase;
			color: #0E1618;
			margin: 0 0 24px;
			display: flex;
			flex-wrap: wrap;

			&::before {
				content: '';
				display: block;
				width: 6px;
				background: #61795D;
				margin-right: 10px;
			}
		}

		p.description {
			font-weight: 400;
			font-size: 14px;
			line-height: 22px;
			color: #161616;
		}
	}

	&__search {
		position: relative;
		margin-top: 24px;
		margin-bottom: 25px;

		form {
			position: relative;
		}

		input {
			padding: 16px 24px;
			background: #DBE6E2;
			border: 1px solid #DBE6E2;
			border-radius: 8px;
			color: #555E61;
			font-weight: 400;
			font-size: 16px;
		}

		button {
			width: 22px;
			height: 22px;
			background: url('images/icon_search.png') no-repeat;
			position: absolute;
			top: 30%;
			right: 20px;
			text-indent: -9999px;
		}
	}

	&__fillter {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.vape-view-switcher {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 16px;

		.lift {
			background: #F2F2F2;
			width: 36px;
			height: 36px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			border-radius: 100%;

			&:hover,
			&.current {
				background-color: #61795D;

				svg {
					fill: #fff;
				}
			}
		}

		svg {
			width: 18px;
			height: 18px;
			fill: #0E1618
		}
	}
}

.devvn_woocommerce_price_filter {
	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
		}
	}
}

@media only screen and (max-width: 767px) {
	.products-woo {
		&__sidebar {
			flex: 0 0 100%;
		}

		&__lists {
			flex: 0 0 100%;
			margin-top: 30px;
		}

		&__shows {
			&.grid-view {
				grid-template-columns: repeat(2, 1fr);
				margin-top: 30px;
			}

			&.list-view {
				.entry-content {
					padding: 15px 5px;
				}
			}
		}
	}

	.products-item {
		.price-product {
			gap: 6px;
			margin-bottom: 0
		}
	}
}