.archive-post__sidebar .widget {
	position: relative;
	border: 1px solid #E9E9E9;
	border-radius: 8px;
	padding: 8px 16px 16px;

	.widget-title {
		width: 100%;
		display: flex;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #161616;
		padding-bottom: 10px;
		margin: 15px 0 10px 0;
		border-bottom: 2px solid #367E62;

	}

	.tagcloud {
		padding: 0;
		margin: 0 15px;
	}

	div {
		padding: 10px 15px;
	}

	ul {
		padding: 0;
		margin: 0px;

		&.children {
			display: none;
		}
	}

	li {
		list-style: disc;
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 9px 0;
		border-bottom: 1px solid #E2E2E2;

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	a {
		color: #161616;
		font-weight: 400;
		font-size: 14px;
		display: inline-block;
		padding: 6px 0;
		text-decoration: none;

		&:hover {
			color: #4246cd;
		}
	}
}