.single-content {
	position: relative;

	h1 {
		font-weight: 700;
		font-size: 32px;
		line-height: 130%;
		color: #0E1618;
		text-align: center;
	}

	.entry-date {
		justify-content: center;
		margin-bottom: 20px;
	}

	img {
		margin: auto;
		display: table;
	}

	&__item {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		border-bottom: 1px solid #EEEEEE;
		padding-bottom: 15px;
		margin-bottom: 24px;

		.entry-thumbnail {
			width: 250px;
			@include set-thumbnail(60%);
		}

		.entry-content {
			width: calc(100% - 250px);
			padding-right: 24px;

			h2 {
				font-size: 18px;
				color: #000;
				margin: 0 0 10px;
			}
		}

		.entry-excerpt {
			@include set-line(3);
			font-size: 16px;
		}

		.entry-date {
			position: relative;
			display: flex;

			p.date {
				margin: 0;
			}

			ul {
				padding: 0;
				margin: 0 0px 0 0;
				display: flex;
				flex-wrap: wrap;
			}

			li {
				list-style: none;
				margin-right: 10px;
				background-color: #DBE6E2;
				border-radius: 4px;
				padding: 5px 10px;
			}

			a {
				text-decoration: none;
			}
		}
	}
}

.comments-area {
	background: #F7F7F7;
	border-radius: 0px 0px 8px 8px;
	padding: 15px;

	h3 {
		margin: 0 0 20px;
	}

	textarea {
		background: #DBE6E2;
		border-radius: 4px;
	}

	.submit {
		background: #DBE6E2;
		color: #000
	}
}

.related-posts {
	position: relative;
	margin-bottom: 80px;

	&__heading {
		font-weight: 700;
		font-size: 32px;
		line-height: 130%;
		text-transform: uppercase;
		color: #0E1618;
		text-align: center;
		margin: 0 0 38px;
	}

	&__wrap {
		position: relative;
		display: grid;
		gap: 22px;
		grid-template-columns: repeat(4, 1fr);
	}

	&__item {
		position: relative;

		.entry-thumbnail {
			@include set-thumbnail(63%);
		}

		.entry-content {
			padding: 16px;

			h2 {
				font-weight: 700;
				font-size: 18px;
				line-height: 130%;
				color: #333333;
				margin: 0;

				a {
					color: #333333;
					text-decoration: none;
				}
			}

			.entry-excerpt {
				@include set-line(3);
				font-weight: 400;
				font-size: 15px;
				line-height: 22px;
				color: #52525C;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.related-posts {
		&__wrap {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media only screen and (max-width: 767px) {
	.related-posts {
		&__wrap {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}