.spaginate .spaginate-title {
	display: none;
}

.spaginate .spaginate-link,
.spaginate .spaginate-current,
.spaginate .spaginate-next,
.spaginate .spaginate-prev {
	background-color: #E9E9E9;
	border: 1px solid #D2D2D2;
	border-radius: 2px;
	color: #555555;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	margin: 0 2px;
	padding: 0.6em 0.8em;
	position: relative;
	text-decoration: none;
}

.spaginate .spaginate-current,
.spaginate .spaginate-link:hover,
.spaginate .spaginate-next:hover,
.spaginate .spaginate-prev:hover {
	background-color: #01B1D3;
	border: 1px solid #01B1D3;
	color: #FFFFFF;
}

.site-paginate {
	display: block;
	margin-top: 20px;
	position: relative;
	text-align: center;
	z-index: 9999;
}