.transportation {
	position: relative;
	padding: 0px 0 40px;

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
	}

	&__item {
		border: 1px solid #E2E2E2;
		border-radius: 40px 4px 4px 4px;
		position: relative;
		padding: 29px 10px;
		width: calc(25% - 23px);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: calc(100% - 45px - 12px);
		position: relative;

		h3 {
			font-size: 20px;
			color: #0E1618;
			margin: 0;
			font-weight: 700;
		}

		p {
			font-size: 16px;
			color: #969696;
			margin: 0;
		}
	}
}

.best-selling,
.featured {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 50px 0 0;

	&__top {
		position: relative;
		margin-bottom: 35px;

		h2 {
			font-size: 32px;
			color: #0E1618;
			text-transform: uppercase;
			margin: 0;
			display: flex;
			flex-wrap: wrap;

			&::before {
				content: '';
				display: block;
				width: 6px;
				background-color: #61795D;
				margin-right: 10px;
			}
		}
	}

	&__wrap {
		margin-left: -7px;
		margin-right: -7px;

		.slick-list {
			padding: 0 0% 30px 0;
		}

		.slick-prev {
			width: 40px;
			height: 40px;
			background: url('images/prev.png');
			top: -54px;
			text-indent: -9999px;
			right: 20%;
		}

		.slick-next {
			width: 40px;
			height: 40px;
			background: url('images/next.png');
			top: -54px;
			text-indent: -9999px;
			right: 16%;
		}
	}

	&__item {
		position: relative;
		padding: 0 9px;
	}
}

.products-item {
	position: relative;
	border: 1px solid #E6E6E6;
	border-radius: 8px;

	.entry-thumbnail {
		position: relative;

		&::after {
			content: '';
			display: block;
			padding-bottom: 100%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.entry-content {
		position: relative;
		padding: 0 15px;

		h4 {
			@include set-line(2);
			font-weight: 500;
			font-size: 16px;
			color: #0E1618;
			display: flex;
			min-height: 42px;

			align-items: center;
			margin: 16px 0 5px;

			a {
				color: #0E1618;
				text-decoration: none;

				&:hover {
					color: #61795D;
				}
			}
		}
	}

	.price-product {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
		gap: 16px;
		align-items: center;

		del {
			order: 2;
			font-weight: 500;
			font-size: 14px;
			color: #969696;

			bdi {
				font-weight: 500;
				font-size: 14px;
				color: #969696;
				background: #969696;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

		ins,
		bdi {

			order: 1;
			font-weight: 600;
			font-size: 22px;
			background: linear-gradient(186.7deg, #FFC928 33.59%, #DAB029 88.66%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}

	a.add_cart {
		background: linear-gradient(353.06deg, #AC9A3B -38.45%, #61795D 84.56%);
		border-radius: 8px;
		padding: 10px 16px;
		font-weight: 500;
		font-size: 14px;
		color: #FFFFFF;
		text-decoration: none;
		position: absolute;
		bottom: -40px;
		left: 30%;
		opacity: 0;
	}

	&:hover {
		a.add_cart {
			opacity: 1;
		}
	}

	.thumb-discount-label {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		background: #FF0404;
		border-radius: 0px 6px 0px 30px;
		font-weight: 600;
		font-size: 14px;
		color: #fff;
		padding: 8px 12px;
	}

	.product-hot {
		position: absolute;
		top: 10px;
		left: 10px;
		background: linear-gradient(186.7deg, #FFC928 33.59%, #DAB029 88.66%);
		border-radius: 30px;
		padding: 5px 12px;
		font-weight: 600;
		font-size: 14px;
		color: #fff;
		z-index: 2;
	}
}

.featured {
	padding: 50px 0 0;
	position: relative;
}

@media only screen and (max-width: 991px) {
	.transportation {
		&__item {
			width: calc(50% - 30px);
		}
	}

	.best-selling,
	.featured {
		&__top {
			h2 {
				font-size: 26px;
			}
		}

		&__wrap {

			.slick-next {
				top: 50%;
				right: 10px;
			}

			.slick-prev {
				top: 50%;
				left: 10px;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.transportation {
		&__item {
			width: 100%;
		}
	}

	.best-selling,
	.featured {
		&__top {
			h2 {
				font-size: 24px;
			}
		}

		&__wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__item {
			margin-bottom: 30px;
			width: calc(50% - 0px);
		}
	}
}